commit.time
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*.draft.*
*.deps
*.three.*
*.four.*
*.const.*

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.txt.format
stirrer.jpg
stirrer.large.jpg
talkdir
target.mk
thinker.jpg
network.png
network.svg

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
